@(message: String)(implicit request: RequestHeader)

@metadesc = {Go Typesafe is a community curated set of resources to help you convince your peers and management to use the Typesafe Reactive Platform: Play Framework, Akka and Scala.}

@title = {Agility & Quality / Get Proof}

@customMetas = {
    <meta name="description" content="@desc(). @metadesc">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
    <meta property="og:title" content="@title - Go Typesafe" />
    <meta property="og:url" content="@routes.Application.agilityQualityGetProof().absoluteURL()" />
    <meta property="og:description" content="@desc(). @metadesc" />
    <meta property="og:image" content="@routes.Assets.at("images/go-typesafe.png").absoluteURL()"/>
    <meta name="twitter:title" content="@title - Go Typesafe">
    <meta name="twitter:description" content="@desc(). @metadesc">
    <meta name="twitter:image:src" content="@routes.Assets.at("images/go-typesafe.png").absoluteURL()">
}

@main(""+title, "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.agile()
                <h2>Agility & Quality</h2>
            </nav>
            @components.stepTwo()
            @intro()
             <section class="resource-section">
                <h1>Discussing Agility & Quality</h1><span class="expand"></span>
                <dl class="resource-list no-bullets">
                    <dt><h2>Making The Case For Play/Scala - BBC</h2>@components.productivity()</dt>
                    <dd>
                        <p>In this video from PingConf, BBC explores how they achieved management buy-in to take their team of PHP developers into a new world of Play Framework and Scala for the rewrite of its popular CBeebies children’s website. It’s not a technical talk. In fact, the title could be, "How to sell change into a big, multi-national organization so it’s not too scary."</p>
                        <p>The video discusses how the team got management buy-in by demonstrating skills transfer and success within a few weeks. Management and stakeholders never saw anything happen this fast. Plus, Scala’s cool factor made it easy to recruit, giving management comfort that the team made the right choice.</p>
                        <a target="_blank" href="http://www.ustream.tv/recorded/42803753?utm_campaign=ustre-am&utm_source=ustre-am&utm_medium=social" class="btn small">Watch the Video</a>
                    </dd>
                    
                </dl>
            </section>
            <section class="resource-section">
                <h1>Agility & Quality In Action</h1><span class="expand"></span>
                <dl class="resource-list no-bullets">
                    <dt><h2>Writing Startlingly Simple Code - Tapad</h2>@components.productivity()</dt>
                    <dd>
                        <p>Tadpad processes 150 billion data points from cookies, cellphone IDs, Wi-Fi connections, and other inputs for its highly concurrent advertising system. The Actor implementation from Akka made it startlingly simple to write comprehensible code that leverages all the cores in their production machines for this sophisticated system.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Tapad-Case-Study-v1.0.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>Improving Flexibility - Janrain</h2>@components.productivity()</dt>
                    <dd>
                        <p>Janrain uses the Typesafe Reactive Platform to move towards elastic sizing in the Cloud; the platform has enabled them to very quickly spin up a new approach that allows for a lot of flexibility in application deployment.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Janrain-Case-Study.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>Boosting Quality with Akka/Scala - CCAD (Comcast spinoff)</h2>@components.productivity()</dt>
                    <dd>
                        <p>CCAD (Combined Conditional Access Development) is a joint venture between Comcast and Arris Group (which acquired Motorola Home).</p>
                        <p>Scaling developer productivity, improving code quality and removing locking and contention were reasons that influenced CCAD’s decision to move away from the traditional Java-based stack they were using to look for more sustainable alternatives.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/CCAD-Case-Study.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                </dl>
            </section>
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next Step - Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
