@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Agility & Quality / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.agile()
                <h2>Agility & Quality / Get Proof</h2>
            </nav>
            @intro()
             <section>
                <h1>Agility</h1>
                <dl class="resource-list no-bullets">
                    <dt><h2>Increasing Agility With Play/Scala - BBC</h2>@components.productivity()</dt>
                    <dd>
                        <p>In this video from PingConf, BBC explores how they took a team of PHP developers into a new world of Play Framework and Scala for the rewrite of its popular CBeebies children’s website. It’s not a technical talk. In fact, the title could be, “How to sell change into a big, multi-national organization so it’s not too scary.”</p>
                        <p>The video discusses how the team got management buy-in by demonstrating skills transfer and success within a few weeks. Management and stakeholders never saw anything happen this fast. Plus, Scala’s cool factor made it easy to recruit, giving management comfort that the team made the right choice.</p>
                        <a target="_blank" href="http://www.ustream.tv/recorded/42803753?utm_campaign=ustre-am&utm_source=ustre-am&utm_medium=social" class="btn small">Watch the Video</a>
                    </dd>
                    <dt><h2>Improving Flexibility - Janrain</h2>@components.productivity()</dt>
                    <dd>
                        <p>Janrain uses the Typesafe Reactive Platform to move towards elastic sizing in the Cloud; the platform has enabled them to very quickly spin up a new approach that allows for a lot of flexibility in application deployment.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Janrain-Case-Study.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                </dl>
            </section>
            <section>
                <h1>Quality</h1>
                <dl class="resource-list no-bullets">
                    <dt><h2>Boosting Quality with Akka/Scala - CCAD (Comcast spinoff)</h2>@components.productivity()</dt>
                    <dd>
                        <p>CCAD (Combined Conditional Access Development) is a joint venture between Comcast and Arris Group (which acquired Motorola Home).</p>
                        <p>Scaling developer productivity, improving code quality and removing locking and contention were reasons that influenced CCAD’s decision to move away from the traditional Java-based stack they were using to look for more sustainable alternatives.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/CCAD-Case-Study.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                </dl>
            </section>
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next: Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
