@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Agility & Quality / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.agile()
                <h2>Agility & Quality / Get Proof</h2>
            </nav>
            <h1>Tech Intro</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <section>
                <h1><a href="http://downloads.typesafe.com/website/casestudies/CCAD-Case-Study.pdf">CCAD Case Study</a></h1>
                <a href="http://downloads.typesafe.com/website/casestudies/CCAD-Case-Study.pdf" class="btn small">Read CCAD Case Study</a>
                <p>CCAD (Combined Conditional Access Development) is a joint venture between Comcast and Arris Group (which acquired Motorola Home). Scaling developer productivity, improving code quality and removing locking and contention were reasons that influenced CCAD’s decision to move away from the traditional Java-based stack they were using to look for more sustainable alternatives.</p>
                <blockquote class="red">
                    <p>"The quality level of what we produce with Scala, Akka, and functional programming techniques is so high. Our product marketing team and our product owner have made numerous comments about the technology stack’s contribution towards both this quality level and reduced qualification and regression testing."</p>
                    <footer><strong>Michael Pilquist</strong> Chief Software Architect, CCAD</footer>
                </blockquote>
            </section>
            <section>
                <h1><a href="http://downloads.typesafe.com/website/casestudies/Janrain-Case-Study.pdf">Janrain Case Study</a></h1>
                <a href="http://downloads.typesafe.com/website/casestudies/Janrain-Case-Study.pdf" class="btn small">Read Janrain Case Study</a>
                <p>Janrain uses the Typesafe Reactive Platform to move towards elastic sizing in the Cloud; the platform has enabled them to very quickly spin up a new approach that allows for a lot of flexibility in application deployment.</p>
                <blockquote class="red">
                    <p>"Scala and Akka fit just perfectly with Janrain’s small, lightweight, service component-based development modules."</p>
                    <footer><strong>Thomas Lockney</strong> Software Architect, Janrain</footer>
                </blockquote>
            </section>
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next: Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
