<h1>Deliver higher quality releases more frequently</h1>
<p class="bullet-setup">The Typesafe Reactive Platform enables continuous delivery while also reducing risk.  Here's how:</p>
<ul>
    <li>Type-safety minimizes the chances of something going wrong in production.</li>
    <li>Through a containerless deployment model, redeployments are quick and easy.</li>
    <li>Play Framework is RESTful by default and has built-in JSON support making it a great choice for micro-services which help teams delivery faster.</li>
</ul>