<section>
    <section>
        <h2>Resources</h2>

        <ul>
            <li><a href="">Hiring & Training Scala developers</a></li>
            <li><a href="">Identifying your scalability problems</a></li>
            <li><a href="">Changing deployment infrastructure</a></li>
            <li><a href="">Java Interoperability</a></li>
        </ul>
    </section>

    <section>
        <h2>Hiring & Training Scala developers</h2>
    </section>

    <section>
        <h2>Identifying your scalability problems</h2>
    </section>

    <section>
        <h2>Changing deployment infrastructure</h2>
    </section>

    <section>
        <h2>Java Interoperability</h2>
    </section>
</section>