@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Modernize / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.modernize()
                <h2>Modernize / Get Proof</h2>
            </nav>
            @intro()
             <section>
                <h1>Introducing Modern Technologies</h1>
                <dl class="resource-list no-bullets">
                    <dt><h2>Introducing Scala To Peers - Mentor Graphics</h2>@components.modernize()</dt>
                    <dd>
                        <p>When looking for ways to provide peers with proof, consider creating a casual knowledge sharing environment. That’s what Sr. Architect Joe Barnes did at Mentor Graphics. This video captures his introduction to functional programming in Scala and is filled with inspiring ideas to help jumpstart your presentation. </p>
                        <a target="_blank" href="https://www.youtube.com/watch?v=2Ji5i0x2gJI" class="btn small">Watch the Video</a>
                    </dd>
                </dl>
            </section>
            <section>
                <h1>Modernization In Action</h1>
                <dl class="resource-list no-bullets">
                    <dt><h2>From Rails to Reactive - Gilt Groupe</h2>@components.modernize()</dt>
                    <dd>
                        <p>Gilt was originally a Ruby on Rails application with a PostgreSQL backend in 2007. Gilt grew faster than anyone could have imagined and everyone was caught off guard by how difficult it was to scale the Rails stack. This article does a great job of describing Gilt’s historical transition from Rails to the Typesafe Reactive Platform.</p>
                        <a target="_blank" href="http://code.tutsplus.com/articles/interview-with-eric-bowman-of-giltcom--net-35653" class="btn small">Read The Article</a>
                    </dd>
                    <dt><h2>From Monolith to Micro-Services - The Guardian</h2>@components.modernize()</dt>
                    <dd>
                        <p>There are a ton of example case studies on our website that  discuss the benefits of moving from a monolithic code base to micro-services. The Guardian case study is a good fit if your company has a fairly conser if your enterprise company is currently using Java. Plus, it nicely weaves in the Java-to-Scala story.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/The-Guardian-Case-Study-v1.1.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                </dl>
            </section>
            
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next: Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
