@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Modernize / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.modernize()
                <h2>Modernize / Get Proof</h2>
            </nav>
            <h1>Tech Intro</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <section>
                <h1><a href="https://www.youtube.com/watch?v=2Ji5i0x2gJI">Mentor Graphics Video</a></h1>
                <a href="https://www.youtube.com/watch?v=2Ji5i0x2gJI" class="btn small">Watch Mentor Graphics Video</a>
                <p>When looking for ways to provide peers with proof, consider creating a casual knowledge sharing environment. That’s what Sr. Architect Joe Barnes did at Mentor Graphics. This video captures his introduction to functional programming in Scala and is filled with inspiring ideas to help jumpstart your presentation</p>
            </section>
            <section>
                <h1><a href="http://downloads.typesafe.com/website/casestudies/Ticketfly-Case-Study-v1.4.pdf">The Guardian Case Study</a></h1>
                <a href="http://downloads.typesafe.com/website/casestudies/Ticketfly-Case-Study-v1.4.pdf" class="btn small">Read The Guardian Case Study</a>
                <p>There are a ton of example case studies on our website that  discuss the benefits of moving from a monolithic code base to micro-services. The Guardian case study is a good one if your enterprise company is currently using Java. It articulates the benefits of the Typesafe approach including serving pages faster while allowing the team to evolve the platform in new and innovative ways. Plus, it nicely weaves in the Java-to-Scala story.</p>
                
                <blockquote class="red">
                    <p>"Moving an entire team to Scala didn't happen overnight but Scala protects your investment in existing Java libraries, tools, and developer programming skills."</p>
                    <footer>Graham Tackley, Head of Architecture, Guardian</footer>
                </blockquote>
            </section>
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next: Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
