<h1>@desc()</h1>
<p class="bullet-setup">Build HTML5, mobile, NoSQL, and big data apps using frameworks designed for it.</p>
<ul>
    <li>Single Page Apps with JavaScript are now the primary way to build UIs.</li>
    <li>Rather than just a single UI, back-ends are now shared across mobile, web, and other back-ends.</li>
    <li>Micro-services and everything-as-a-service movements make Reactive composition critical.</li>
    <li>The explosion of data has paved the way for new Big Data technologies.</li>
    <li>NoSQL storage has freed us from sticking everything into a relational model.</li>
</ul>
<b>The Typesafe Reactive Platform is at the forefront of these emerging trends, providing a cohesive platform to bring all these pieces together.</b>