@(message: String)

@main("Scalalbity Show Off") {

    <article id="page-content" class="row modernize show">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.modernize()
                <h2>Modernize / Show Off</h2>
            </nav>
            <h1>Build HTML5, mobile, and big data apps using frameworks designed for it.</h1>
            <p>Here is how to get set up:</p>
            <ol>
                <li>Check out the following activator templates: Angular JS and Play, Responsive Bootstrap, Hello Spark</li>
                <li>Launch Activator</li>
                <li>Follow the instruction in the tutorial</li>
            </ol>
            <img src="@routes.Assets.at("images/chrome-activator.png")">
            <footer>
                <a href="@routes.Application.scalabilityGetProof()" class="btn arrow-right">Now lets get ready to show off</a>
            </footer>
        </div>
    </article>


}
