@(message: String)(implicit request: RequestHeader)

@metadesc = {Go Typesafe is a community curated set of resources to help you convince your peers and management to use the Typesafe Reactive Platform: Play Framework, Akka and Scala.}

@title = {Modernize / Show Off}

@customMetas = {
    <meta name="description" content="@desc(). @metadesc">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
    <meta property="og:title" content="@title - Go Typesafe" />
    <meta property="og:url" content="@routes.Application.modernizeShowOff().absoluteURL()" />
    <meta property="og:description" content="@desc(). @metadesc" />
    <meta property="og:image" content="@routes.Assets.at("images/go-typesafe.png").absoluteURL()"/>
    <meta name="twitter:title" content="@title - Go Typesafe">
    <meta name="twitter:description" content="@desc(). @metadesc">
    <meta name="twitter:image:src" content="@routes.Assets.at("images/go-typesafe.png").absoluteURL()">
}

@main(""+title, "show-off", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.modernize()
                <h2>Modernize</h2>
            </nav>
            @components.stepOne()
            <h1>@desc()</h1>
            <p class="bullet-setup">Show off examples of modern apps using the following templates in <a href="http://typesafe.com/platform/getstarted" target="_blank">Typesafe Activator</a>:</p>
            <ul>
                <li>Get started with Play Framework and AngularJS using the <a href="http://typesafe.com/activator/template/angular-seed-play" target="_blank">Play Angular Seed template</a></li>
                <li>Combine <a href="http://typesafe.com/activator/template/activator-akka-cassandra" target="_blank">Akka's Actors with Cassandra</a></li>
                <li>Build a web app with <a href="http://typesafe.com/activator/template/hello-play-backbone" target="_blank">Play Framework and Backbone.js</a></li>
                <li>Learn the <a href="http://typesafe.com/activator/template/activator-scalding" target="_blank">basics of Scalding</a> - a Scala based Map Reduce library and DSL</li>
                <li>Use <a href="http://typesafe.com/activator/template/play-hbase" target="_blank">Play Framework together with HBase</a></li>
                <li>The <a href="http://typesafe.com/activator/template/reactive-stocks" target="_blank">Reactive Stocks template</a> combines Play, Akka, WebSockets, CoffeeScript, and jQuery</li>
            </ul>
            
            <footer>
                <a href="@routes.Application.modernizeGetProof()" class="btn arrow-right">Next Step - Modernize / Get Proof</a>
            </footer>
        </div>
    </article>


}
