@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Modernize / Show Off", "show-off", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.modernize()
                <h2>Modernize</h2>
            </nav>
            @components.stepOne()
            <p class="bullet-setup">Show off examples of modern apps using the following templates in <a href="http://typesafe.com/platform/getstarted" target="_blank">Typesafe Activator</a>:</p>
            <ul>
                <li>Get started with Play Framework and AngularJS using the <a href="http://typesafe.com/activator/template/angular-seed-play" target="_blank">Play Angular Seed template</a></li>
                <li>Combine <a href="http://typesafe.com/activator/template/activator-akka-cassandra" target="_blank">Akka's Actors with Cassandra</a></li>
                <li>Build a web app with <a href="http://typesafe.com/activator/template/hello-play-backbone" target="_blank">Play Framework and Backbone.js</a></li>
                <li>Learn the <a href="http://typesafe.com/activator/template/activator-scalding" target="_blank">basics of Scalding</a> - a Scala based Map Reduce library and DSL</li>
                <li>Use <a href="http://typesafe.com/activator/template/play-hbase" target="_blank">Play Framework together with HBase</a></li>
                <li>The <a href="http://typesafe.com/activator/template/reactive-stocks" target="_blank">Reactive Stocks template</a> combines Play, Akka, WebSockets, CoffeeScript, and jQuery</li>
            </ul>
            
            <footer>
                <a href="@routes.Application.modernizeGetProof()" class="btn arrow-right">Next: Modernize / Get Proof</a>
            </footer>
        </div>
    </article>


}
