@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Scalability / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.scalability()
                <h2>Scalability / Get Proof</h2>
            </nav>
            <h1>Tech Intro</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <section>
                <h1><a href="http://downloads.typesafe.com/website/casestudies/Ticketfly-Case-Study-v1.4.pdf">Ticketfly Case Study</a></h1>
                <a href="http://downloads.typesafe.com/website/casestudies/Ticketfly-Case-Study-v1.4.pdf" class="btn small">Read Ticketfly Case Study</a>
                <p>Ticketfly crafted a powerful reserved seating engine (something that is notoriously complicated to build because of its rapidly changing state), that could scale easily, handle bursty and unpredictable traffic patterns and compete with online ticket scalpers.</p>
                <blockquote class="red">
                    <p>Clearly, the goal is to do these operations concurrently and non-blocking, so that entire blocks of seats or sections are not locked. Finding and allocating seats under load happens in less than 20ms. The system has very good performance without having to try very hard to achieve it.</p>
                    <footer class="alt"><strong>Andrew Headrick</strong> Platform Architect, Ticketfly</footer>
                </blockquote>
            </section>
            <section>
            <h1><a href="http://downloads.typesafe.com/website/casestudies/Lucid-Software-Case-Study-v1.3.pdf">Lucidchart Case Study</a></h1>
            <a href="http://downloads.typesafe.com/website/casestudies/Lucid-Software-Case-Study-v1.3.pdf" class="btn small">Read Lucidchart Case Study</a>
            <p>Lucidchart is a fully functional diagramming application running inside the browser, which uses pure Javascript to create an experience that feels like a native app. When the team was searching for a new architecture that could support its explosive user growth, they turned the to the Typesafe Reactive Platform.</p>
            
            <blockquote class="red">
                <p>The move to these technologies is already paying off. Response times are down for processor intensive code - such as image and PDF generation – by around 75%.</p>
                <footer class="alt"><strong>Brian Pugh</strong> VP of Engineering, Lucid Software</footer>
            </blockquote>
            </section>
            
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next: Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
