@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Scalability / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.scalability()
                <h2>Scalability</h2>
            </nav>
            @components.stepTwo()
            @intro()
            <section class="resource-section">
                <h1>Speed & Throughput In Action</h1><span class="expand"></span>
                
                <dl class="resource-list no-bullets">
                    <dt><h2>Sub 20ms Response - Ticketfly</h2>@components.scalability()</dt>
                    <dd>
                        <p>Ticketfly crafted a powerful reserved seating engine (something that is notoriously complicated to build because of its rapidly changing state), that could scale easily, handle bursty and unpredictable traffic patterns and compete with online ticket scalpers.</p>
                        <p>The concurrent and non-blocking system allows visitors to find and allocate seats, <strong>under load, in less than 20ms.</strong> The system has very good performance without having to try very hard to achieve it.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Ticketfly-Case-Study-v1.4.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>Sub 12ms Response - Sharethrough</h2>@components.scalability()</dt>
                    <dd>
                        <p>Sharethrough chose Scala to build industry’s first native ad management system. It runs thousands of auctions respecting a myriad of variables to match quality content to the right viewer at the right time in the right place. The system’s <strong>99.99% latency is 12ms.</strong></p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Sharethrough-Case-Study-v1.0.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>75% Faster - Lucidchart</h2>@components.scalability()</dt>
                    <dd>
                        <p>Lucidchart is a fully functional diagramming application running inside the browser, which uses pure Javascript to create an experience that feels like a native app.</p>
                        <p>Moving to Typesafe is already paying off. <strong>Response times are down</strong> for processor intensive code - such as image and PDF generation – <strong>by around 75%.</strong></p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Lucid-Software-Case-Study-v1.3.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    
                </dl>
            </section>
            <section class="resource-section">
                <h1>Massive Scale In Action</h1><span class="expand"></span>
                <dl class="resource-list no-bullets">
                    <dt><h2>2400 Akka Cluster in 4 Minutes - Google</h2>@components.scalability()</dt>
                    <dd>
                        <p>Google partnered with Typesafe to explore the limits of Google Compute Engine (GCE) for running Akka/Java applications. Delightfully, we were able to operate a cluster of 2400 nodes.</p>
                        <p>Bulk additions are a more typical use case when starting up a fresh cluster. We tested how long time it took to get an Akka cluster running across 1000 GCE instances—4 minutes and 15 seconds from starting the script until all 1000 Akka cluster members were reported as full members and seen by all other nodes.</p>
                        <a target="_blank" href="http://googlecloudplatform.blogspot.com/2014/01/large-akka-cluster-on-google-compute.html" class="btn small">Read the Blog Post</a>
                    </dd>
                    <dt><h2>1 Billion API Requests/Day - Klout</h2>@components.scalability()</dt>
                    <dd>
                        <p>Klout is the leader in measuring online influence by calculating a user's social impact through extensive data mining. Their system performs data aggregation across several social networks and data stores in real time, with results instantaneously presented to end users and scales to handle <strong>one billion API request per day.</strong></p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Klout-Case-Study-v1.0.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>100x Bursty Traffic Increase - Gilt</h2>@components.scalability()</dt>
                    <dd>
                        <p>Over the course of a few seconds, Gilt’s traffic can increase by as much as 100x. Essentially, they need to have the e-commerce infrastructure almost at Amazon scale for at least 15 minutes every day. </p>
                        <p>Most days this happens exactly at noon EST, and until a couple of years ago, noon was a stressful time every day. Nowadays it’s usually a non-event—in part because of Typesafe. This Q&A with architect Eric Bowman describes Gilt Groupe's journey from Rails to Reactive.</p>
                        <a target="_blank" href="http://code.tutsplus.com/articles/interview-with-eric-bowman-of-giltcom--net-35653" class="btn small">Read the Case Study</a>
                    </dd>
                    <dt><h2>Tweets per Second Record -  Twitter</h2>@components.scalability()</dt>
                    <dd>
                        <p>A primary goal at Twitter is to make sure the service is always available no matter what is happening around the world. This goal felt unattainable in 2010 with Ruby, so the team rewrote its codebase on Scala, delivering an estimated 10x performance increase. </p>
                        <a target="_blank" href="https://blog.twitter.com/2013/new-tweets-per-second-record-and-how" class="btn small">Read the Twitter Engineering Community Story</a>
                    </dd>
                </dl>
            </section>
            
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next Step - Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
