@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Scalability / Show Off", "show-off", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.scalability()
                <h2>Scalability / Show Off</h2>
            </nav>
            @intro()
            
            <h1>Want to show off the Scalability of the Typesafe Reactive Platform?  Here is a great demo for that.</h1>
            <h2>Show off 40k Requests per Second with Play Framework</h2>
            <p>
                This demo shows how Play can handle tens of thousands of requests per second while remaining Responsive. Learn more about the Responsive trait of Reactive applications in the <a href="http://reactivemanifesto.org" target="_blank">Reactive Manifesto</a>.
            </p>
            <ol>
                <li>Download the <a href="http://typesafe.com/activator/template/bundle/reactive-scales">Reactive Scales Activator template</a></li>
                <li>Extract the zip and launch the Activator UI either by running the <code>activator</code> (Mac & Linux) or <code>activator.bat</code> (Windows) from your file browser or from the command line with <code>activator ui</code></li>
                <li>Follow the instruction in the tutorial</li>
            </ol>
            <h2>To see this demo in action check out this short screencast:</h2>
            <iframe width="640" height="360" src="//www.youtube.com/embed/cnPPLpIk9mo?rel=0" frameborder="0" allowfullscreen></iframe>


            <footer>
                <p>
                    This was a simple single-server demo but of-course you can also scale horizontally with many Play nodes behind a load balancer.
                </p>
                <a href="@routes.Application.scalabilityGetProof()" class="btn arrow-right">Need proof?  Continue reading to learn about how Klout handles 1 billion transactions a day through Play.</a>
            </footer>
        </div>
    </article>


}
