@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Productivity / Get Proof", "get-proof", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.productivity()
                <h2>Productivity</h2>
            </nav>
            @components.stepTwo()
            @intro()
            <section class="resource-section">
                <h1>Framing Developer Productivity</h1><span class="expand"></span>
                <dl class="resource-list no-bullets">
                    <dt><h2>Understanding Individual And Team Productivity - LinkedIn</h2>@components.productivity()</dt>
                    <dd>
                        <p>One of the strongest evangelists at discussing developer productivity is Yevgeniy (Jim) Brikman, the lead developer bringing the Play Framework and Scala to LinkedIn.</p> 
                        <p>The first part of the video discusses how LinkedIn is using our technologies build front-end and back-end services at massive scale. Forward the video to 43:34 to hear his interesting take on developer productivity. </p>
                        <a target="_blank" href="https://thenewcircle.com/s/post/1498/the_play_framework_at_linkedin_productivity_and_performance_at_scale" class="btn small">Watch The Video</a>
                    </dd>
                </dl>
            </section>
            <section class="resource-section">
                <h1>Developer Productivity In Action</h1><span class="expand"></span>
                <dl class="resource-list no-bullets">
                    <dt><h2>Speeding Mobile Development By 4x - 47 Degrees</h2>@components.productivity()</dt>
                    <dd>
                        <p>After one month, 47 Degrees, a software development agency focused native mobile apps, realized that developing web applications and REST API’s with Play and Scala made their team at least four times more productive. </p>
                        <p>Play’s built-in support for JSON serialization, reusable templates and Scala features such as traits, higher order functions and Singleton style companion objects sped development and reduced the codebase considerably (since many of the patterns and techniques they had to worry about in Java are built into Play, Akka and Scala).</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/47-Degrees-Case-Study-v1.0.pdf" class="btn small">Watch The Video</a>
                    </dd>
                    <dt><h2>Decreasing Codebase by 78% - Gawker</h2>@components.productivity()</dt>
                    <dd>
                        <p>It stands to reason that reducing your codebase can have a tremendous impact on developer productivity.  That was certainly the case at Gawker. </p>
                        <p>After seven years of PHP development, the team at Gawker Media started to bump into issues maintaining an unruly 300,000-line codebase. They made the move to consolidate their fragmented infrastructure under a JVM-based umbrella, and, in turn, consolidated their codebase to approximately 65,000 lines of Scala.</p>
                        <a target="_blank" href="http://downloads.typesafe.com/website/casestudies/Gawker-Media-Case-Study.pdf" class="btn small">Read the Case Study</a>
                    </dd>
                </dl>
            </section>
            
            <footer>
                <a href="@routes.Application.convince()" class="btn">Next Step - Convince Your Boss</a>
            </footer>
        </div>
    </article>


}
