@(message: String)

@main("Go Typesafe") {

    <article id="page-content" class="row scalability proof">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.productivity()
                <a href="#">Scalability</a>
                <a class="current" href="#">Get Proof</a>
            </nav>
            <h1>Here is what you are going to be able to show</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <ol>
                <li>Do this once before anything else</li>
                <li>Then try this</li>
                <li>If all else fails see next step</li>
                <li>Try previous step</li>
            </ol>
            <h1>Here is what you are going to be able to show</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <ol>
                <li>Do this once before anything else</li>
                <li>Then try this</li>
                <li>If all else fails see next step</li>
                <li>Try previous step</li>
            </ol>
            <h1>Here is what you are going to be able to show</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <ol>
                <li>Do this once before anything else</li>
                <li>Then try this</li>
                <li>If all else fails see next step</li>
                <li>Try previous step</li>
            </ol>
            <h1>Here is what you are going to be able to show</h1>
            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales tempus nibh eu bibendum. Integer venenatis, augue vel viverra congue, massa quam convallis leo, sed pharetra est dolor quis massa. Aliquam malesuada eu nulla at egestas. Sed posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
            <ol>
                <li>Do this once before anything else</li>
                <li>Then try this</li>
                <li>If all else fails see next step</li>
                <li>Try previous step</li>
            </ol>
            
            
            
            <footer>
                <a href="@routes.Application.convince()" class="btn">Time to convince you boss</a>
            </footer>
        </div>
    </article>


}
