<h1>The Typesafe Reactive Platform has productivity backed in</h1>
<p class="bullet-setup">Developer productivity can't be an afterthought it.</p>
<ul>
    <li>Play Framework features a just-hit-refresh workflow while still being type-safe and using a compiler to catch mistakes.</li>
    <li>Akka removes error-prone currency problems that are usually very hard to find and fix.</li>
    <li>Scala (if you choose to use it) has numerous modern language features like type inference, functional paradigms, and boiler-plate reducing constructs like case classes.</li>
</ul>