@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Productivity / Show Off", "show-off", customMetas) {

    <article id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <nav>
                @components.productivity()
                <h2>Productivity</h2>
            </nav>
            @components.stepOne()
            <p class="bullet-setup">Show off your enhanced productivity:</p>
            <ol>
                <li><a href="http://typesafe.com/platform/getstarted" target="_blank">Download Typesafe Activator</a></li>
                <li>Pick from <a href="http://typesafe.com/activator/templates" target="_blank">80+ template applications</a></li>
                <li>Start coding!</li>
            </ol>
            <p class="bullet-setup">Need some inspiration?  Check out these videos:</p>
            
            <p>Building a Reactive application with Play Framework and Scala</p>
            <div class="flex-video widescreen youtube">
                <iframe width="640" height="360" src="//www.youtube.com/embed/9481uO3kmZU" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <p>Building a database-driven application with Play Framework and Java</p>
            <div class="flex-video widescreen vimeo">
                <iframe src="//player.vimeo.com/video/58969923?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            
            <footer>
                <a href="@routes.Application.productivityGetProof()" class="btn arrow-right">Next Step - Productivity / Get Proof</a>
            </footer>
        </div>
    </article>


}
