<section>
    <h2>The Golden Pitch</h2>
    <p>Slice it, dice it, do as you please.  This is the Typesafe Reactive Platform Golden Pitch.  It contains slides to
    cover just about any piece of information or argument you'll need to present the platform.  Brand it as you need and
    add or remove content to your heart's content. </p>
    <p><small>P.S. If you have any suggestions for stuff to add, please let us know!</small></p>
    <ul>
    <li><a href="">The Typesafe Reactive Platform Golden Pitch</a></li>
    </ul>
</section>