<section>
<section>
    <h2>Step 1: Build Something</h2>
    <p>They say a picture tells a 1000 words.  Well working code can show a billion pictures. </p>
    <p>Want to convince your organization to go Reactive? Build something that shows how great it can be!</p>
    <ul>
        <li><a href="/#/4/1">Show off Scalability</a></li>
        <li><a href="/#/4/2">Show off Productivity</a></li>
        <li><a href="/#/4/3">Show off Modernization</a></li>
        <li><a href="/#/4/4">Show off higher quality, lower risk, and higher frequency releases</a></li>
    </ul>



</section>
    @scalability()
    @productivity()
    @modern()
    @quality()
</section>