@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Show Off. Get Proof. Convince Your Boss.", "home", customMetas) {

    <article id="page-content">
        <div class="row">
            <div class="small-11 medium-9 large-8 small-centered columns">
                <h1 class="remove-mt">Show Off. Get Proof. Convince Your Boss. And Go Typesafe!</h1>
                <p>Go Typesafe is a community curated set of resources to help you convince your peers and management to use the Typesafe Reactive Platform: Play Framework, Akka and Scala.</p>
                <p class="bullet-setup">The resources are segmented into three steps:</p>
                <ol>
                    <li><strong>Show off</strong> the ability of Typesafe technologies to address your requirements by building a quick demo in Activator.</li>
                    <li><strong>Get proof</strong> points about the value other developers have experienced with case studies, blog posts, and videos.</li>
                    <li><strong>Convince your boss</strong> the technologies can deliver the goods with additional resources for building a team, accelerating adoption, and more. </li>
                </ol>
                <p>To get started, just select the challenge that most closely matches your requirement, and the kit will begin to guide your journey.</p>
            </div>  
        </div>
        <div class="row">
            <div class="small-11 medium-9 large-8 small-centered columns">
                <ul class="small-block-grid-2 track-grid">
                    <li class="scalability">
                        <a href="@routes.Application.scalabilityShowOff()" data-rollover="@views.html.scalability.desc()"><span>@components.scalability()I Need Scalability</span></a>
                    </li>
                    <li class="productivity">
                        <a href="@routes.Application.productivityShowOff()" data-rollover="@views.html.productivity.desc()"><span>@components.productivity()I Need Productivity</span></a>
                    </li>
                    <li class="modernize">
                        <a href="@routes.Application.modernizeShowOff()" data-rollover="@views.html.modernize.desc()"><span>@components.modernize()I Need To Modernize</span></a>
                    </li>
                    <li class="quality">
                        <a href="@routes.Application.agilityQualityShowOff()" data-rollover="@views.html.agilityQuality.desc()"><span>@components.agile()I Need Agility & Quality</span></a>
                    </li>
                    <li class="go-circle">@components.typesafeIcon()</li>
                </ul>
            </div>  
        </div>
    </article>
}