@(title: String, context: String = "", customMetas: Html = Html.empty)(content: Html)

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
    <title>@title | Go Typesafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if(customMetas.body.length == 0) {
        <meta name="description" content="Default">
        <meta name="keywords" content="Fallback">
    } else {
        @customMetas
    }
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/normalize.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/foundation.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/vendor/modernizr.js")'></script>
    <link rel='shortcut icon' href='@routes.Assets.at("favicon.ico")' />
</head>
<body class="@context">
    <div class="off-canvas-wrap">
        
        <div class="inner-wrap">

            <nav class="tab-bar">
              <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
              </section>

              <section class="middle tab-bar-section">
                <h1 class="title"><a href="@routes.Application.index()">Go Typesafe</a></h1>
              </section>

              <section class="support">
                <span id="trigger-overlay">@components.support()</span>
              </section>
            </nav>

            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <!--<li class="scalability"><strong><a href="@routes.Application.scalabilityShowOff()">I need Scalability</a></strong></li>-->
                <li class="scalability"><a href="@routes.Application.scalabilityShowOff()">Scalability / Show Off @components.scalability()</a></li>
                <li class="scalability"><a href="@routes.Application.scalabilityGetProof()">Scalability / Get Proof @components.scalability()</a></li>
                <!--<li class="productivity"><strong><a href="@routes.Application.productivityShowOff()">I need Productivity</a></strong></li>-->
                <li class="productivity"><a href="@routes.Application.productivityShowOff()">Productivity / Show Off @components.productivity()</a></li>
                <li class="productivity"><a href="@routes.Application.productivityGetProof()">Productivity / Get Proof @components.productivity()</a></li>
                <!--<li class="modernize"><strong><a href="@routes.Application.modernizeShowOff()">I need to Modernize</a></strong></li>-->
                <li class="modernize"><a href="@routes.Application.modernizeShowOff()">Modernize / Show Off @components.modernize()</a></li>
                <li class="modernize"><a href="@routes.Application.modernizeGetProof()">Modernize / Get Proof @components.modernize()</a></li>
                <!--<li class="agility"><strong><a href="@routes.Application.agilityQualityShowOff()">I need Agility & Quality</a></strong></li>-->
                <li class="agility"><a href="@routes.Application.agilityQualityShowOff()">Agility & Quality / Show Off @components.agile()</a></li>
                <li class="agility"><a href="@routes.Application.agilityQualityGetProof()">Agility & Quality / Get Proof @components.agile()</a></li>
                <li class="secondary"><a href="@routes.Application.convince()">Convince Your Boss</a></li>
                <li class="secondary"><a href="@routes.Application.resources()">All Resources</a></li>
                <li class="secondary"><a class="trigger-overlay" href="#">Help / Contact Typesafe</a></li>
                
              </ul>

            </aside>
            
            <div class="row">
                <div class="small-12 large-12 columns">
                    @content
                </div>
            </div>
            
            <footer class="site-footer">
                <div class="row">
                    <div class="small-12 medium-12 large-12 small-centered columns">
                        <span class="reactive-graphic-b">@components.platform()</span>
                        
                        <ul>
                            <li><a href="@routes.Application.scalabilityShowOff()">Scalability</a></li>
                            <li><a href="@routes.Application.productivityShowOff()">Productivity</a></li>
                            <li><a href="@routes.Application.modernizeShowOff()">Modernize</a></li>
                            <li><a href="@routes.Application.agilityQualityShowOff()">Agility & Quality</a></li>
                            <li><a href="@routes.Application.convince()">Convince Your Boss</a></li>
                            <li><a href="@routes.Application.resources()">All Resources</a></li>
                        </ul>
                        <a class="footer-logo" href="http://www.typesafe.com">@components.logo()</a>
                        <p>©2014</p>
                    </div>
                </div>
                
                <span class="reactive-graphic">@components.platform()</span>
                <!--<img class="reactive-graphic" src="@routes.Assets.at("images/reactive-platform.svg")">-->
            </footer>
            
            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas"></a>

        </div><!--inner wrap-->
        
        <!-- open/close -->
        <div class="overlay overlay-hugeinc">
            <button type="button" class="overlay-close">Close</button>
            <section id="support" class="row">
                <div class="small-11 medium-9 large-8 small-centered columns">
                    <h1>Need Help, Conact Typesafe.</h1>
                    <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                        <!--<input type="hidden" name="oid" value="00DC0000000QlWU">-->
                        <input type="hidden" name="retURL" value="http://scaladays.org/thank-you.html">
                        <input type="hidden" name="lead_source" value="Web">
                        <input type="hidden" name="Campaign_ID" value="701C0000000iBcx">
                        <input type="hidden" name="member_status" value="responded">
                        <input type="hidden" name="00NC0000005EORf" value="Scala Days Sponsor Sign Up Form">
                        <fieldset>
                            <input id="first_name" maxlength="40" name="first_name" size="20" type="text" required="" placeholder="First Name">
                            <input id="last_name" maxlength="80" name="last_name" size="20" type="text" required="" placeholder="Last Name">
                        </fieldset>
                        <fieldset>
                            <input id="email" maxlength="80" name="email" size="20" type="text" required="" placeholder="Email">
                            <input id="company" maxlength="40" name="company" size="20" type="text" required="" placeholder="Company">
                        </fieldset>
                        <fieldset>
                            <textarea id="description" name="description" type="text" placeholder="Questions"></textarea>
                        </fieldset>
                        <input type="submit" name="submit" class="btn red">
                    </form>
                </div>
            </section>
        </div><!--form overlay-->
    
    </div><!--off canvas wrap-->
    
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/vendor/fastclick.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/foundation.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/main.js")'></script>
    <script>
        $(document).foundation();
        $("dl.resource-list dt").on("click", function(){
            $(this).toggleClass('on');
        });
        $(document).on("click", ".expand", function(){
            $(this).next('dl').find('dt').addClass('on');
            $(this).removeClass('expand').addClass('collapse');
        })
        $(document).on("click", ".collapse", function(){
            $(this).next('dl').find('dt').removeClass('on');
            $(this).removeClass('collapse').addClass('expand');
        })
    </script>
</body>
</html>
