@(title: String)(content: Html)

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <!--<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/normalize.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/foundation.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/vendor/modernizr.js")'></script>
</head>
<body>
    <div class="off-canvas-wrap">
        <div class="inner-wrap">


            <nav class="tab-bar">
              <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
              </section>

              <section class="middle tab-bar-section">
                <h1 class="title"><a href="@routes.Application.index()">Go Typesafe</a></h1>
              </section>
            </nav>

            <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                <li class="scalability"><strong><a href="@routes.Application.scalabilityShowOff()">Scalability</a></strong></li>
                <li class="scalability"><a href="@routes.Application.scalabilityShowOff()">Show Off</a></li>
                <li class="scalability"><a href="@routes.Application.scalabilityGetProof()">Get Proof</a></li>
                <li class="scalability"><a href="@routes.Application.scalabilityConvince()">Convince Your Boss</a></li>
                <li class="productivity"><strong><a href="#">Productivity</a></strong></li>
                <li class="productivity"><a href="#">Show Off</a></li>
                <li class="productivity"><a href="#">Get Proof</a></li>
                <li class="productivity"><a href="#">Convince Your Boss</a></li>
                <li class="modernize"><strong><a href="#">Modernize</a></strong></li>
                <li class="modernize"><a href="#">Show Off</a></li>
                <li class="modernize"><a href="#">Get Proof</a></li>
                <li class="modernize"><a href="#">Convince Your Boss</a></li>
                <li class="quality"><strong><a href="#">Higher Quality</a></strong></li>
                <li class="quality"><a href="#">Show Off</a></li>
                <li class="quality"><a href="#">Get Proof</a></li>
                <li class="quality"><a href="#">Convince Your Boss</a></li>
              </ul>


            </aside>
            <div class="row">
                <div class="small-12 large-12 columns">
                    @content
                </div>
            </div>
            
            

            <!-- close the off-canvas menu -->
            <a class="exit-off-canvas"></a>

        </div>
    </div>
    
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/vendor/fastclick.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/foundation.min.js")'></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
