@(message: String)

@main("Go Typesafe", "resources") {

    <section id="page-content" class="row">
        <div class="small-11 medium-9 large-8 small-centered columns">
            <article>
                <nav>
                    @components.scalability()
                    @components.productivity()
                    @components.modernize()
                    @components.agile()
                    <a class="current" href="#">All Resources</a>
                </nav>
                <ul class="no-bullets jump-links">
                    <li><a href="#case-studies">Case Studies</a></li>
                    <li><a href="#webinars">Webinars</a></li>
                    <li><a href="#presentations">Presentations</a></li>
                    <li><a href="#templates">Templates</a></li>
                </ul>
            </article>
            <span id="case-studies" class="anchor-jump"></span>
            <article class="resource-section">
                    <h2>Case Studies</h2><span class="expand"></span>
                    <dl class="resource-list no-bullets">
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                    </dl>
            </article>
            <span id="webinars" class="anchor-jump"></span>
            <article class="resource-section">
                    <h2>Webinars</h2><span class="expand"></span>
                    <dl class="resource-list no-bullets">
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                    </dl>
            </article>
            <span id="presentations" class="anchor-jump"></span>
            <article class="resource-section">
                    <h2>Presentations</h2><span class="expand"></span>
                    <dl class="resource-list no-bullets">
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                    </dl>
            </article>
            <span id="templates" class="anchor-jump"></span>
            <article class="resource-section">
                    <h2>Templates</h2><span class="expand"></span>
                    <dl class="resource-list no-bullets">
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                        <dt>This is a resource@components.productivity()@components.agile()</dt>
                        <dd>
                            <p>Nunc a sodales dolor. Donec eget elit luctus, molestie arcu vel, lacinia ipsum. Lorem ipsum dolor sit amet,posuere placerat mattis. Nunc et arcu porta, imperdiet turpis a, porta sapien.</p>
                            <a target="_blank" href="#">Download the Case Study</a>
                        </dd>
                    </dl>
            </article>
            



        </div>
    </section>


}
