@(message: String)

@customMetas = {
    <meta name="description" content="Go Typesafe is a set of resources that will help you convince others to adopt the Typesafe Reactive Platform: Play Framework, Akka and Scala">
    <meta name="keywords" content="Go Typesafe, Typesafe, Typesafe Reactive Platform, Play Framework, Akka, Scala">
}

@main("Thank You", "home", customMetas) {

    <article id="page-content">
        <div class="row">
            <div class="small-11 medium-9 large-8 small-centered columns">
                <h1 class="remove-mt">Thank you for contacting Typesafe!</h1>
                <p>We'll be in touch real soon.</p>
            </div>  
        </div>
        <div class="row">
            <div class="small-11 medium-9 large-8 small-centered columns">
                <ul class="small-block-grid-2 track-grid">
                    <li class="scalability">
                        <a href="@routes.Application.scalabilityShowOff()" data-rollover="@views.html.scalability.desc()"><span>@components.scalability()I Need Scalability</span></a>
                    </li>
                    <li class="productivity">
                        <a href="@routes.Application.productivityShowOff()" data-rollover="@views.html.productivity.desc()"><span>@components.productivity()I Need Productivity</span></a>
                    </li>
                    <li class="modernize">
                        <a href="@routes.Application.modernizeShowOff()" data-rollover="@views.html.modernize.desc()"><span>@components.modernize()I Need To Modernize</span></a>
                    </li>
                    <li class="quality">
                        <a href="@routes.Application.agilityQualityShowOff()" data-rollover="@views.html.agilityQuality.desc()"><span>@components.agile()I Need Agility & Quality</span></a>
                    </li>
                    <li class="go-circle">@components.typesafeIcon()</li>
                </ul>
            </div>  
        </div>
    </article>
}